nav h6, .navbar, .navbar-light .navbar-toggler, .navbar .navbar-brand,.navbar-toggler i, .navbar .navbar-brand:hover, .navbar .navbar-brand:visited {
	color: #f6f7f8;
}

.container {
	margin-top: 70px;
}

.container .btn {
 	border-radius: 30px;
}

.container .card .btn {
	padding: 10px 0 10px auto;
}

 nav h6  {
	display: inline-block;
	font-size: 17px;
}

.form-control::-webkit-input-placeholder {
 	color: #ffc7c8;
}

form .form-control{
	border-radius: 55px;
	background-color: #f77;
	border: none;
}

form .form-control:focus{
	background-color: #faa;
	border: 2px solid #fcc;
}

#saludo {
	color:#aaa;
}

.navbar {
	background-color: #ff3366;
}

.navbar-light .navbar-toggler {
	border-color: #f6f7f8;
}

button {
	display: block;
}

.completado {
	background-color: #efefef;
}

a {
	background-color: #CA3960;
	border-radius: 15px;
	height: 35px;
	width: 70px;
	display: block;
	font-weight: bold;
	transition: background-color 0.5s
}

a:hover {
	cursor: pointer;
	background-color: #EA003A
}

@media screen and (max-width: 480px) {
	.botones {
		display: none;
	}
	.botones-sub {
		display: block;
	}
}

@media screen and (min-width: 481px) {
	.botones-sub{
		display: none; 
	}
}

@media screen and (max-width: 575px) {
	input {
		margin-top: 5px;
		margin-bottom: 5px;
	}
	.card-block {
		padding: 0.3rem;
	}
	#agregar-tarea{
		margin-left: 45%;
	}
}