.container .btn {
 border-radius: 30px;
}

.container .card .btn {
	padding-left: auto;
	padding-top: 10px;
	padding-bottom: 10px;
}

.container {
	margin-top: 70px;
}

 nav h6  {
	display: inline-block;
	font-size: 17px;
	color: #f6f7f8;
}

.form-control::-webkit-input-placeholder {
  color: #ffc7c8;
}

form .form-control{
	border-radius: 55px;
	background-color: #f77;
	border: none;
}

form .form-control:focus{
	background-color: #faa;
	border: 2px solid #fcc;
}

#agregar-tarea {
 color: #ff9999;
}

#saludo {
	color:#aaa;
}

#agregar-tarea:hover {
 color: #f6f7f8;
}

.navbar {
	background-color: #ff3366;
	color: #f6f7f8;
}

.navbar-light .navbar-toggler {
	border-color: #f6f7f8;
	color: #f6f7f8;
}

.navbar .navbar-brand,.navbar-toggler i, .navbar .navbar-brand:hover, .navbar .navbar-brand:visited {
	color: #f6f7f8;
}

button {
	display: block;
}

.completado {
	background-color: #efefef;
}

@media screen and (max-width: 480px) {
	.botones {
		display: none;
	}
	.botones-sub {
		display: block;
	}
}

@media screen and (min-width: 481px) {
	.botones-sub{
		display: none; 
	}
}

@media screen and (max-width: 575px) {
	input {
		margin-top: 5px;
		margin-bottom: 5px;
	}
	.card-block {
		padding: 0.3rem;
	}
}